<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FBLAEM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<login-config>
    <auth-method>FORM</auth-method>
    <realm-name>fblaem</realm-name>
    <form-login-config>
        <form-login-page>/login.jsp</form-login-page>
        <form-error-page>/login.jsp</form-error-page>
    </form-login-config>
</login-config>

<servlet>
	<servlet-name>EventRegistration</servlet-name>
	<servlet-class>edu.weber.ntm.fblaem.servlets.ViewController</servlet-class>

	<init-param>
		<param-name>viewType</param-name>
		<param-value>eventRegistration</param-value>
	</init-param>
</servlet>
<servlet-mapping>
 <servlet-name>EventRegistration</servlet-name>
    <url-pattern>/EventRegistration</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Administration</servlet-name>
	<servlet-class>edu.weber.ntm.fblaem.servlets.ViewController</servlet-class>

	<init-param>
		<param-name>viewType</param-name>
		<param-value>admin</param-value>
	</init-param>
</servlet>
<servlet-mapping>
	<servlet-name>Administration</servlet-name>
    <url-pattern>/Administration</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>PDF</servlet-name>
	<servlet-class>edu.weber.ntm.fblaem.servlets.ViewController</servlet-class>

	<init-param>
		<param-name>viewType</param-name>
		<param-value>PDF</param-value>
	</init-param>
</servlet>
<servlet-mapping>
	<servlet-name>PDF</servlet-name>
    <url-pattern>/PDF</url-pattern>
</servlet-mapping>

</web-app>
